<div class="w3-container w3-teal">
<h1>Edita Busqueda</h1>
</div> 

<%= render "form", busqueda: @busqueda %>

<br>

<div>
  <%= link_to "Show this busqueda", @busqueda %> |
  <%= link_to "Back to busquedas", busquedas_path %>
</div>
